@media screen and (min-width: 600px) {
  .menu_bars {
      font-size: 1.8em;
      /* padding: 20px 0 0 20px; */
  }

  #tytul {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-top: -30px;
    padding-bottom: 10px;
  }

  #info {
    width: calc(50% - 20px);
  padding-right: 20px;
  }

  #glowna_index {
    width: 50%;
  }

  .info {
    font-size: 0.6em;
    margin-left: 40px;
}
}/* 600px */

@media screen and (min-width: 900px) {
  .menu_bars {
    display: none;
  }

  #tytul {
    margin-top: 10px;
  }

  #width_menu {
    display: block;
    margin-left: 0;
  }

  .obraz_img {
    width: 760px;
    /* float: right; */
}

#obraz {
    width: 100%;
    margin-top: 80px;
    text-align: right;
}

#menuszkolen {
  display: block;
  margin-top: 40px;
}

#tresc {
  padding: 40px;
}

body {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
}

}/* 900px */
